.wrapper {
  margin: 0 auto;
  height: 25px;
  width: 500px;
  background-color: #61dafb;
  display: flex;
  justify-content: space-around;

  .active {
    color: red;
  }

  a {
    width: 100%;
    color: white;
    text-decoration: none;


    &:hover {
      background-color: red;
      color: #282c34;
    }

  }
}