.wrapper {
  margin: 0 auto;
  height: 25px;
  width: 500px;
  display: flex;
  justify-content: space-around;

  .active {
    color: red;
  }

  a {
    width: 100%;
    color: white;
    background-color: #61dafb;
    text-decoration: none;

    &:hover {
      background-color: red;
      color: #282c34;
    }
  }
}

@media mobile, (max-width: 510px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
}