.wrapper {
  max-width: 500px;
  margin: 20px auto;
&_result {
  margin-top: 5px;
}
  &_change {
    display: flex;
    justify-content: space-around;
    Select {
      margin-bottom: 10px;
    }

    &__to {
      Select {
        color: red;
      }
    }

    &__from {
      Select {
        color: blue;
      }
    }
    &__icoRight {
      margin: auto;
    }
    &__icoDown {
      display: none;
      padding: 5px;
    }

  }
}

@media (max-width: 510px) {
  .wrapper {

    &_change {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      Select {
        margin-bottom: 0;
      }
      Input {
        margin-top: 5px;
      }
    &__icoRight {
      display: none;
    }
      &__icoDown {
        margin: 0 auto;
        display: block;
      }
    }
  }
}