.wrapper {
  width: 500px;
  margin: 20px auto;

  &_change {
    display: flex;
    justify-content: space-around;

    Select {
      margin-bottom: 10px;
    }

    &__to {
      Select {
        color: red;
      }
    }

    &__ico {
      margin: auto;
    }

    &__from {
      Select {
        color: blue;
      }
    }
  }
}